interactions:
  - request:
      body: null
      headers:
        Authorization:
          - Bearer 22119~eWVW4KnvJBxtwxKmrAWV446tDWJLZChWDT3NHnwLtthLaRRwLR2Y39NrQFBfF9PF
      method: GET
      uri: https://canvas.its.virginia.edu/api/v1/courses/126335/modules?per_page=100
    response:
      body:
        string:
          '[{"id":326256,"name":"Module A: Review of Statistical Inference (finish
          before starting Module 3)","position":3,"unlock_at":null,"require_sequential_progress":false,"requirement_type":"all","publish_final_grade":false,"prerequisite_module_ids":[],"state":"completed","completed_at":"2025-01-05T01:26:22Z","items_count":6,"items_url":"https://canvas.its.virginia.edu/api/v1/courses/126335/modules/326256/items"},{"id":326257,"name":"Module
          B: Basics of R (finish before starting Module 1)","position":4,"unlock_at":null,"require_sequential_progress":false,"requirement_type":"all","publish_final_grade":false,"prerequisite_module_ids":[],"state":"completed","completed_at":"2025-01-05T01:26:22Z","items_count":6,"items_url":"https://canvas.its.virginia.edu/api/v1/courses/126335/modules/326257/items"},{"id":326258,"name":"M[...]
